body{
    background-image: url("picture8.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 60px;
    background-size: 350px;
    background-color: aliceblue;
}
#header {
    display: block;
    background-color: rgb(88, 190, 88);
}

#left{
    float: left;
    display: inline-flex;
    margin-top: 13px;
}
.leftcont{
    margin: 10px;
}

#middle ul{
    display: inline-flex;
    list-style: none;
}
#middle ul li{
    margin-right: 70px;
    padding: 10px;
}

#middle ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#middle ul li i{
    margin-right: 7px;
}

#middle ul li a:hover{
    /* background-color: rgb(4, 158, 4); */
    color: rgb(78, 79, 78);
}

#middlefirst{
    margin-left: 100px;
}

#right
{
    float: right;
    margin-top: -57px;
    margin-right: 19px;
}

.middlesub{
    display: none;
    background-color: rgb(88, 190, 88);
}

#middle ul :hover .middlesub{
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: 0px;
}

#middle ul :hover .middlesub ul{
    display: block;
    margin: -10px;
}

#middle ul :hover .middlesub ul li{
    width: 70px;
    padding: 15px;
    border-bottom: 1px dotted rgb(0, 0, 0);
    background: transparent;
    border-radius: 0;
    text-align: left;
}

#main{
    float: center;
    margin-top: 30px;
}

#main h1{
    color: rgb(88, 190, 88);
    margin-left: 516px;
    font-family: 'Courier New', Courier, monospace;
}
#main p{
    color: rgb(0, 0, 0);
    font-size: 22px;
    white-space: pre-line;
    text-align: center;
    font-family: cursive;
    margin-top: -10px;
}
#button {
    margin-left: 450px;
}

.btn{
    padding: 20px;
    margin: 5px;
    margin-left: 10px;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-color: rgb(70, 70, 70);
    border-radius: 9px;
}

#button :hover{
    background-color: rgb(88, 190, 88);
    transition: all .8s ease .0s;
}

#center{
    margin-top: 100px;
    background-image: linear-gradient(to bottom ,rgba(89, 90, 89, 0), rgb(89, 90, 89,1));
    /* background-color: black; */

}

fieldset{
    display: inline-block;
    margin-left: 70px;
    border-color: aliceblue;
}

legend{
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 40px;
}

#center fieldset p{
    white-space: pre-line;
}

#c img{
    margin-left: 90px;
}
#ccc{
    margin-right: 77px;
}

#ccc img{
    margin-left: 110px;
}

#language{
    margin-left: 100px;
    margin-bottom: 40px;
    border-style: none;
}

#lan{
    text-align: center;
}

#java img{
    margin-left: 120px;
}

#python img{
    margin-top: 50px;
    margin-bottom: 25px;
}

#javascript img{
    margin-left: 120px;
    margin-right: 106px;
}

#csharp img{
    margin-left: 114px;
}
#last{
    margin-top: 50px;
    white-space: pre-line;
    text-align: center;
    font-size: 15px;
}